.primary {
  background-color: var(--primary);
  color: var(--color-crema);
}

.primary:hover {
  background-color: var(--color-oscuro);
}

.outline {
  color: var(--color-oscuro);
}

.outline:hover {
  color: var(--color-naranja);
}

.outline {
  color: var(--color-crema);
  border: 1px solid var(--color-crema);
}

.outline:hover {
  color: var(--color-oscuro);
  background-color: var(--color-mapuche);
}
